<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Calendar</title>
    <style>
        .day-style {
            height: 250px;
            width: 100px;
            background-color: white;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
<div class="container-flex">

    <div class="row h4 text-center">
        <div class="col-4"></div>
        <div class="col-4">Calendar</div>
        <div class="col-4"></div>

        <div class="col-4">August</div>
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="container m-2 p-4 mx-auto" id="calendarDasy">
            <div class="row no-gutters">
                {% for day in days %}
                <div class="col-lg-2 col-md-3 col-12 day-style m-2 border border-dark rounded">
                    <div class="row text-left m-2 p-2">
                        <div class="col-12">
                            {{day.number}}
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{day.id}}sp" {% if day.made_sport %}checked{% else %}false{% endif %} >
                                <label class="form-check-label" for="{{day.id}}sp">
                                    Sp
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{day.id}}reading" {% if day.made_reading %}checked{% else %}false{% endif %} >
                                <label class="form-check-label" for="{{day.id}}reading">
                                    Rea
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{day.id}}reading" {% if day.made_health_eating %}checked{% else %}false{% endif %} >
                                <label class="form-check-label" for="{{day.id}}reading">
                                    EH
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{day.id}}reading" {% if day.made_r %}checked{% else %}false{% endif %} >
                                <label class="form-check-label" for="{{day.id}}reading">
                                    PR
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{day.id}}reading" {% if day.made_pos_afir %}checked{% else %}false{% endif %} >
                                <label class="form-check-label" for="{{day.id}}reading">
                                    Pos a
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>

</html>